---
import { clsx } from 'clsx';

interface Props {
  title: string;
  description?: string;
  class?: string
}
---

<style is:global>
  @font-face {
    font-family: "GeistMono";
    src: url("/fonts/GeistMono-1.3.0/variable-woff/GeistMonoVF.woff2")
      format("woff2-variations");
    font-weight: 100 900;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={Astro.props.description ?? "Acid rat games and co"}
    />
    <title>{Astro.props.title}</title>
  </head>
  <body class={clsx("p-5 font-mono text-slate-100 bg-slate-950 container max-w-screen-sm mx-auto", Astro.props.class)}>
    <slot />
  </body>
</html>
